@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* { /* RESET */
    vertical-align: baseline;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    font-style: inherit;
    font-size: 16px;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
    background-color: rgb(15, 15, 15);
}

#page {
    width: 1500px;
    margin: 0 auto;
}

#post {
    position: fixed;
    background-color: rgb(35, 35, 35);
    padding: 50px 30px;
    width: 1440px;
    height: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#post-spacer {
    height: 200px;
}

#post-handle {
    color: lightgray;
    font-size: 150%;
}

#post-text {
    font-size: 300%;
    margin-top: 10px;
}

#comment-section {
    background-color: rgb(25, 25, 25);
    padding: 1px 30px;
} /* the 1px is a dumb workaround so the section background fills out its space. */

.comment-container {
    background-color: rgb(35, 35, 35);
    padding: 20px;
    margin: 30px 0;
}

.profile-image {
    width: 50px;
    height: 50px;
    float: left;
    padding-right: 20px;
}

.comment {
    padding-left: 20px;
}

.comment-handle {
    color: lightgray;
}

.comment-text {
    font-size: 150%;
}

.controls {
    float: right;
}

.edit, .delete {
    color: rgb(117, 219, 245);
    padding-left: 10px;
}

form {
    display: flex;
    background-color: rgb(35, 35, 35);
    padding: 30px;
    justify-content: space-between;
    position: fixed;
    width: 1440px;
    height: 30px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

#input-spacer {
    height: 90px;
}

input[type="text"] {
    padding: 5px;
    border: #fff solid 1px;
    margin-right: 10px;
    background-color: rgb(35, 35, 35);
}

#comment-input {
    flex-grow: 1;
}

input[type="button"] {
    font-size: 150%;
    color: rgb(117, 219, 245);
}

#comment-submit {
    background-color: rgb(35, 35, 35);
}

.edit-input {
    margin-top: 10px;
    width: 88%;
}

.edit-submit {
    background-color: rgb(35, 35, 35);
    float: right;
    margin-top: 10px;
}
